[user]
    email = lalandej.gg@gmail.com
    name = Jonathan Lalande
[core]
    editor = nvim
[alias]
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    l = log --graph
    s = status
    d = diff
