Xft.dpi: 200

XTerm*faceName: monospace
xterm*faceSize: 10
xterm*vt100*geometry: 80x60
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

! allow copy and paste
XTerm*selectToClipboard:true
XTerm*VT100.Translations: #override \
		Shift Ctrl<Key>V: insert-selection(CLIPBOARD)\n
		Shift Ctrl<Key>V: insert-selection(PRIMARY)\n


URxvt.font: xft:monospace:size=10
URxvt*termName: rxvt-unicode-256color
URxvt.color12: rgb:5c/5c/ff


!BLK Cursor
#define _color0        #000d18
#define _color8        #000d18
!RED Tag
#define _color1        #e89393
#define _color9        #e89393
!GRN SpecialKey
#define _color2        #9ece9e
#define _color10       #9ece9e
!YEL Keyword
#define _color3        #f0dfaf
#define _color11       #f0dfaf
!BLU Number
#define _color4        #8cd0d3
#define _color12       #8cd0d3
!MAG Precondit
#define _color5        #c0bed1
#define _color13       #c0bed1
!CYN Float
#define _color6        #dfaf8f
#define _color14       #dfaf8f
!WHT Search
#define _color7        #efefef
#define _color15       #efefef
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #dcdccc
#define _background    #1f1f1f
#define _cursorColor   #8faf9f
URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*colorUL        : _colorUL
URxvt*foreground     : _foreground
URxvt*background     : _background
URxvt*cursorColor    : _cursorColor
XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*colorUL        : _colorUL
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor


! Rofi configuration
!
rofi.color-window: argb:c82d303b, #7c8389, #1d1f21

! State:           'bg',      'fg',    'bgalt',   'hlbg',   'hlfg'
rofi.color-normal: #402f343f, #f3f4f5, #402f343f, #9575cd,  #f3f4f5
rofi.color-urgent: #402f343f, #f3f4f5, #402f343f, #9575cd,  #f3f4f5
rofi.color-active: #402f343f, #f3f4f5, #402f343f, #9575cd,  #f3f4f5
rofi.width: 100
rofi.lines: 3
rofi.columns: 1
rofi.font: System San Francisco Display 20
rofi.bw: 0
rofi.padding: 800
rofi.eh: 3
rofi.separator-style: none
rofi.hide-scrollbar: true

